$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px   // custom breakpoint
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1600px   // custom container size
);


@import "~bootstrap/scss/bootstrap";

.container {
  width: 1500px;
}

.card {
  cursor: pointer;

  img {
    height: 400px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.95rem;
  }
}

.president-image-box {
    width: 100%;
    max-width: 500px;
    height: 650px;
    overflow: hidden;
    border-radius: 12px;
    background: #f2f2f2;
}

.president-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
